/tests/_output/LoginCest.tryToTest.fail.html
# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
/modules/inpa_secure
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
/yiipass.sqlite
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# assets cache
/web/assets

# uploads
/web/uploads/*

# config-files with account data.
/config/db.php
/config/params.php

tests/_output/*
